header{
    display: flex;
    justify-content: space-between;
    border-top: 0.1px solid rgb(211, 208, 208);
    position: fixed;
    right: 0px;
    left: 0;
    top: 0;
   background-color: #fff;
}
#left-section{
    display:flex;
    height: 57px;
    width: fit-content;
    justify-content: space-around;
    align-items: center;
}
#hamburger img{
    width: 23px;
    margin-right: 24px;
    margin-left: 24px;
}
#hamberger{
    
}
#youtube-logo img{
 width: 90px;
}
#middle-section{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#search input{
   
    height: 38px;
     width: 350px;
     border: 1px solid rgb(190, 190, 190);
     border-radius: 4px;
     box-shadow: inset 2px 2px 10px rgba(207, 206, 206, 0.363);
    }
    
    #search input::placeholder{
        font-size: 15px;
        font-weight: 500;
       padding-left: 10px;
    }
    
#search-icon img{
    width: 24px;
    
}

#search-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 38px;
    margin-left: -2px;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 2px;
    background-color: rgb(243, 239, 239);
    margin-right: 8px;
}
#voice-search-icon {
    width: 35px;
    height: 35px;
    display: flex;
    background-color: rgb(243, 239, 239);
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}
#voice-search-icon img{
    width: 24px;
    
   
}
#right-section{
    display: flex;
    width: 200px;  
    align-items: center;
    justify-content: space-around;
}

#create img{
    width: 24px;
}
#youtube-apps img{
    width: 24px;
}
 #notifications img{
    width: 24px;
 }  
 #profile img{
    width: 30px;
    border-radius: 50%;
 } 
