body{
    font-family: roboto,arial;
}
img{
    width: 300px;
}
main{
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;

}
#thumbnail{
    display: inline-block;
}
#video-info-grid{
    display: grid;
    grid-template-columns: 50px 1fr;
}
#video-info{
  
    width: 250px;
    display: inline-block;
}
#profile-picture{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    
}
#profile-img{
   
   
    width: 40px;
    border-radius: 50%;
}
#video-desc{
font-size: 14px;
font-weight: 500;
margin-bottom: 18px;
}
#video-author{
    font-size: 12px;
}
#video-stats{
    font-size: 12px;
}
#card{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-right: 15px;
    margin-bottom: 15px;
}
